body {
    background-color: #e5e900;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: rgb(17, 17, 17);
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;

  }
  /*buttons*/
 
  a.btn.btn-primary, button.btn.btn-primary {
    background-color: transparent !important;
    box-shadow: none;
  }
 
  i.fa.fa-prescription-bottle-alt.fa-8x.buttonMeds,i.fa.fa-stethoscope.fa-8x.buttonSteth, i.fa.fa-map.fa-8x.buttonMap, i.fa.fa-mobile-alt.fa-8x.buttonPhone{
    color: #00bfa5;
  }

.icons {
  background-color: #e0f2f1;
}