div#root {
    background-color: #b2dfdb;
    margin: 0;
    font-size: 1.48rem;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }

  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: transparent;
    padding: 0;
    text-align: right;
  }
  ul.header li a {
    color: #004d40;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
  }
  .content {
    background-color: #FFF;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;

  }

  footer.page-footer.blue.font-small.pt-4.mt-4 {
    background-color: #004d40 !important;
}


  /*buttons*/
 
  a.btn.btn-primary, button.btn.btn-primary {
    background-color: transparent !important;
    box-shadow: none;
  }
 
  i.fa.fa-prescription-bottle-alt.fa-8x.buttonMeds,i.fa.fa-stethoscope.fa-8x.buttonSteth, i.fa.fa-map.fa-8x.buttonMap, i.fa.fa-mobile-alt.fa-8x.buttonPhone{
    color: #00bfa5;
  }
  i.fa.fa-cat.fa-8x.cat, i.fa.fa-dog.fa-8x.dog{
    color: #004d40; 
  }

.icons {
  background-color: #e0f2f1;
}
.animals{
  background-color: #b2dfdb;
}

